# Dependencies
/node_modules

# Build
/dist
/build
*.tsbuildinfo

# Tests
/coverage

# Env
.env
.env.*.local
.env.prod
!.env.prod.example

# Logs
*.log
npm-debug.log*

# IDE / OS
.idea
.vscode
.DS_Store
